<!DOCTYPE html>
<html data-ng-app='app'>
<head>
    <title>Basic Examples</title>
    <link rel="stylesheet" type="text/css" href="./vendor/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body data-ng-controller='AppCtrl as AppCtrl'>

<div class='container'>
    <div class='row'>
        <div class='col-xs-12'>
            <h2>
                factory.$list()
            </h2>
            <pre><p data-ng-repeat='model in AppCtrl.list'>{{ model | json }}</p></pre>

            <div style='clear: both; margin-bottom: 100px;'></div>

            <h2>
                factory.$find(2)
            </h2>
            <pre><p>{{ AppCtrl.model.$serialize() | json }}</p></pre>

            <div style='clear: both; margin-bottom: 100px;'></div>

            <h2>
                model.$update()
            </h2>

            <form>
                <div class="form-group">
                    <label for="_id">_id</label>
                    <input
                      type="text"
                      class="form-control"
                      id="_id"
                      data-ng-model='AppCtrl.model._id'>
                </div>
                <div class="form-group">
                    <label for="name">name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      data-ng-model='AppCtrl.model.name'>
                </div>
                <button
                  type="submit"
                  class="btn btn-default"
                  data-ng-click='AppCtrl.model.$save()'>
                    Submit
                </button>
            </form>

            <div style='clear: both; margin-bottom: 100px;'></div>

            <h2>
                model.$reload()
                <small>
                    Open developer tools, inspect requests
                </small>
            </h2>


            <button
              type="submit"
              class="btn btn-info"
              data-ng-click='AppCtrl.model.$reload()'>
                Reload
            </button>

            <div style='clear: both; margin-bottom: 100px;'></div>

            <h2>
                model.$delete()
                <small>
                    Open developer tools, inspect requests
                </small>
            </h2>

            <button
              type="submit"
              class="btn btn-danger"
              data-ng-click='AppCtrl.model.$delete()'>
                Delete
            </button>
        </div>
    </div>
</div>

<script src='./vendor/angular/angular.js'></script>
<script src='../deps/Endpoint/dist/Endpoint.js'></script>
<script src='../deps/EventEmitter/dist/EventEmitter.js'></script>
<script src='../deps/Util/dist/Util.js'></script>
<script src='../dist/ngModelFactory.js'></script>
<script>
    var app = angular.module('app', [
        'ngModelFactory'
    ]);

    app.controller('AppCtrl', [
        '$log',
        'Factory',
        'Model',
        function($log, Factory, Model) {
            $log.debug('App loaded.');
            var
              alias = this,
              factory = new Factory(Model, {
                  endpoints: {
                      list: { method: 'GET', path: '/models' },
                      find: { method: 'GET', path: '/models/:id' },
                      create: { method: 'POST', path: '/models' },
                      update: { method: 'PUT', path: '/models/:id' },
                      del: { method: 'DEL', path: '/models/:id' }
                  }
              });

            // `factory.$list()`
            alias.list = [];
            factory
              .$list()
              .then(function(models) {
                  angular.forEach(models, function(model) {
                      alias.list.push(model);
                      model.on('$delete', function() {
                          for (var i = 0, len = alias.list.length; i < len; i++) {
                              if (alias.list[i]._id.toString() === model._id.toString()) {
                                  alias.list.splice(i, 1);
                                  break;
                              }
                          }

                          if (alias.model._id.toString() === model._id.toString()) {
                              alias.model = null;
                          }
                      });
                  });
              })
              .catch(function(err) {
                  $log.error('Error requesting `factory.$list()`!');
              });

            // `factory.find(1)`
            alias.model = null;
            factory
              .$find(2)
              .then(function(model) {
                  alias.model = model;
              })
              .catch(function(err) {
                  $log.error('Error requesting `factory.$find()`!');
              });

            return alias;
        }
    ]);
</script>
</body>
</html>